<img src="/assets/img/burgerPic.jpg" alt="Burger Image">

<div class="container">
    <h1>Burger List</h1>
    <div class="row">
        <div class="col-6">
            <ul id="notDevoured">
                <h2>Yet to be consumed</h1>
                {{#each burger}}
                    {{#unless devoured}}
                        {{> burger/burger-block}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <ul id="devoured">
                <h2>Devoured</h1>
                {{#each burger}}
                    {{#if devoured}}
                        {{> burger/burger-block}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

        

</div>

<form>
    <label for="burgerInput">Kind of Burger:</label>
    <input type="text" id="burgerInput" name="burgerInput">
    <button id="submit">Submit</button>
</form>